<?xml version='1.0' encoding='utf-8'?>
<widget id="com.neonquest.game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Neon Quest</name>
    <description>Neon retro arcade quest.</description>
    <author email="dev@neonquest.com" href="https://github.com">Player</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
</widget>

